<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doglist Specific</title>
    <style media="screen">
    .parallax {
        /* The image used */
        background-image: url({{dog.image}}) ;

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300|Sacramento" rel="stylesheet">
  </head>
  <body>
    <section id="dog-title">
			<p>{{dog.name}}</p>
		</section>
    <div class="parallax"></div>
    <section id="dog-content">
      <div id="dog-info">
        <p><b>Age:</b> {{dog.age}}</p>
        <p><b>Breed:</b> {{dog.breed}}</p>
        <p><b>Personality/Description:</b> {{dog.dogDescription}}</p>
      </div>
      <div id="dog-buttons">
        <form action="/dogs/{{dog.id}}/edit" method="get">
          <input type="submit" name="update" value="Update">
        </form>

        <form action="/dogs/{{dog.id}}?_method=DELETE" method="post">
          <input type="submit" name="delete" value="Delete">
        </form>
      </div>
    </section>
  </body>
</html>
